
#Encabezado {
    font-family: 'Wigglye', sans-serif;
    font-size: 75px;
    src: local('Wigglye'), url('https://fonts.cdnfonts.com/s/51307/WigglyeRegular-w1yx9.woff') format('woff');
   
}

#txt{
    font-family: 'KG Corner of the Sky', sans-serif;                                            
    font-size: 15px;
    text-align: justify;
    src: local('KG Corner of the Sky'), url('https://fonts.cdnfonts.com/s/48444/KGCorneroftheSky.woff') format('woff');  
}

#txt1{
    font-family: 'KG Corner of the Sky', sans-serif;                                            
    font-size: 15px;
    text-align: justify;
    src: local('KG Corner of the Sky'), url('https://fonts.cdnfonts.com/s/48444/KGCorneroftheSky.woff') format('woff');     
}
